<div class="content">
  <div *ngIf="!spread">
    Loading...
  </div>
  <div *ngIf="spread">
    <table class='best-quotes'>
      <tr>
        <th></th>
        <th>Broker</th>
        <th>Price</th>
        <th>Volume</th>
      </tr>
      <tr>
        <td>Best Ask</td>
        <td>{{spread.ask.broker}}</td>
        <td>{{spread.ask.price | number:'1.8-8'}}</td>
        <td>{{spread.ask.volume}} {{baseCcy}}</td>
      </tr>
      <tr>
        <td>Best Bid</td>
        <td>{{spread.bid.broker}}</td>
        <td>{{spread.bid.price | number:'1.8-8'}}</td>
        <td>{{spread.bid.volume}} {{baseCcy}}</td>
      </tr>
      <tr>
        <td>Spread</td>
        <td></td>
        <td>{{-spread.invertedSpread | number:'1.8-8'}}</td>
      </tr>
    </table>
    <table class='spread-analysis'>

      <tr>
        <td>Available Volume</td>
        <td>{{spread.availableVolume}} {{baseCcy}}</td>
      </tr>
      <tr>
        <td>Target Volume</td>
        <td>{{spread.targetVolume}} {{baseCcy}}</td>
      </tr>
      <tr>
        <td>Expected Profit</td>
        <td>{{spread.targetProfit | number:'1.8-8'}} {{quoteCcy}}</td>
      </tr>
      <tr>
        <td>Expected Profit %</td>
        <td>{{spread.profitPercentAgainstNotional}}% {{baseCcy}}</td>
      </tr>
    </table>
    <div>
      <i [class.ok]='limitCheckResult.success' [class.ng]='!limitCheckResult.success' class="fas fa-circle"></i> {{limitCheckResult.message}}
    </div>
  </div>
</div>
